@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Agile SCORM LMS</h1>
        <p>支持SCORM 1.2 (部分支持 SCORM 2004).</p>
    </div>
</div>